/*font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;*/

*{
    margin: 0 auto;
}

header {
    display: flex;
    padding: 30px 15px;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 100px;
}
.logo {
    width: 100px;
    margin-right: 25%;
}
.btn-free {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    color: hsl(322, 100%, 66%);
    padding: 8px 25px;
    border:hsl(322, 100%, 66%) solid 1px;
    border-radius: 25px;
}
 .section1 {
    text-align: center;
}
.title {
    color: hsl(192, 100%, 9%);
    font-family: 'Poppins', sans-serif;
    font-size: 1.75rem;
    margin-bottom: 15px;
}
.paragraph1 {
    font-family: 'Open Sans', sans-serif;
    margin: 15px 20px;
    font-weight: 600;
    color: hsl(192, 100%, 9%);
}

.btn-text{
    font-family: 'Open Sans', sans-serif;
    background-color:hsl(322, 100%, 66%);
    color:  #fff;
    padding: 12px 40px;
    border:hsl(322, 100%, 66%) solid 1px;
    border-radius: 25px;
    margin: 20px auto;
}

.image-mockup {
    margin: 100px 20px;
    width: 80%;
}

.communities-messages {
    display: flex;
    flex-wrap: wrap;
}

.big-numer {
    font-family:'Open Sans', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    padding: 1px 20px 10px 20px;
}

.image-icon {
    margin-right: 130px;
    width: 35px;
}

.message-below{
    font-family:'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding: 1px 20px 10px 20px;
    color:hsl(200, 1%, 54%);
}

.communities-in {
    margin: 50px auto;
}

.communities-messages {
    margin-bottom: 100px;
}

.mode1 {
    background-color:#F6FBFF;
    background-repeat: no-repeat;
}

.backgroundtop{
    margin: 0 auto;
    display: block;
}
.backgroundtopdesktop {
    display: none;
}

.images-txt{
    width: 80%;
    padding: 30px 0;
}

.title2 {
    font-family: 'Poppins', sans-serif;
    margin: 30px auto;
}

.paragraph2 {
    font-family: 'Open Sans', sans-serif;
    margin: 15px 25px 0 25px;
    padding-bottom: 50px;
    font-weight: 600;
    color: hsl(192, 100%, 9%);
}

.backgroundbottom{
    margin: 0 auto;
    display: block;
}

.backgroundbottomdesktop {
    display: none;
}

.mode2{
    margin: 100px 0;
}

footer {
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(192, 100%, 9%);
    color:#fff;
    padding: 50px 35px 25px;
}


.section2 {
    text-align: center;
    margin: 100px 0;
}

.title3 {
    font-family: 'Poppins', sans-serif;
    margin: 15px 20px 0 20px;
}

.paragraph3 {
    font-family: 'Open Sans', sans-serif;
    margin: 15px 20px 0 20px;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    line-height: 1.5;
}

.btn-footer {
    display: block;
    font-family: 'Open Sans', sans-serif;
    background-color:hsl(322, 100%, 66%);
    color:  #fff;
    padding: 12px 40px;
    border:hsl(322, 100%, 66%) solid 1px;
    border-radius: 5px;
    margin: 20px 0 20px 40%;
}

.input-footer {
    width: 80%;
    height: 25px;
    margin: 15px 20px 10px 20px;
    border-radius: 5px;
}

.logo-footer {
    display:block;
    width: 100%;
    text-align: start;
    /* padding: 20px 0; */
}

.container-footer {
    margin: 30px 0;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.inside-container{
    margin: 15px 10px 5px 0;
}


.container-logos {
    padding-bottom: 50px;
}

.icons {
    margin-right: 20px;
} 


@media (min-width:385px) {
    header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 50px auto;
    }
    .logo {
        width: 200px;
        margin: auto;
    }
    .title {
        font-size: 2.5rem;
    }
    .paragraph1{
        font-size: 1.2rem;
        margin: 20px 30%;
    }
    .image-mockup{
        display: block;
        width: 70%;
        max-width: 1500px;
        margin: 50px auto;
    }
    .big-numer{
        font-size: 6rem;
    }
    .message-below{
        font-size: 1.2rem;
    }
    .image-icon {
        margin-right: 200px;
        width: 50px;
    }
    .backgroundtop{
        display: none;
    }
    .backgroundbottom{
        display: none;
    }

    .backgroundtopdesktop {
        width:100%;
        display: block;
    }
    .backgroundbottomdesktop {
        width:100%;
        display: block;
    }
    .images-txt {
        width: 45%;
        padding: 25px 5%;
    }
    .mode1{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .mode2{
        display: flex;
        align-items: center;
    }
    .title2 {
        font-size: 2.5rem;
        margin: 30px 25px;
    }

    .paragraph2{
        font-size: 1.2rem
    }
    .text-aside {
        margin: auto 5% auto 10%;
        text-align: left;
    }

    .section2 {
        margin: 150px auto;
    }

    .btn-text{
        font-size: 1rem;
        padding: 15px 55px;
        border:hsl(322, 100%, 66%) solid 1px;
        border-radius: 25px;
        margin: 20px auto;
    }
    .foot {
        display: flex;
        flex-direction: row-reverse;
        margin: 20px 50px;
    }
    .paragraph3{
        font-weight: 400;
        margin-top: 25px;
        margin-right: 40%;
    }
    .input-footer{
        width: 40%;
        height: 45px;
        display: inline-block;
    }
    .btn-footer {
        display: inline-block;
        margin: 30px 0;
    }
}

/* No less than 400px, no greater than 900px */
@media (min-width:385px) and (max-width:1100px) {
    .paragraph1{
        margin: 50px 10%;
    }

    .mode1,.mode2 {
        display:flex;
        flex-direction: column;
    }
    .title2 {
        font-size: 1.5rem;
    }
    .paragraph2 {
        font-size: 1rem;
    }
    .foot {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo-footer{
        margin-top: 50px;
    }
}